header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}
.header__logo{
    width: 210.32px;
    height: 68px;
}
.header__nav{
    font-size: 24px;
    width: 309px;
    height: 34px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 57px;
}
.active {
    text-decoration: underline;
}
.header__nav a:hover{
    text-decoration: underline;
}

@media (max-width: 1030px) {
    header{
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
    }
    .header__logo{
        width: 145px;
        height: 47px;
    }
    .header__nav{
        font-size: 18px;
        gap: 30px;
    }
}

@media (max-width: 600px) {
    header{
        margin-left: 20px;
        margin-right: 20px;
    }
    .header__nav{
        font-size: 12px;
        width: 140px;
        height: 17px;
        gap: 10px;
    }
}
@media (max-width: 305px){
    .header__logo{
        width: 96.67px;
        height: 31.3px;
    }
}