.rating{
    gap: 10px;
    display: flex;
}
.rating__icon{
    width: 30px;
    height: 30px;
}
@media (max-width: 1030px){
    .rating{
        gap: 7.5px;
    }
    .rating__icon{
        width: 22.5px;
        height: 22.5px;
    }
}

@media (max-width: 600px){
    .rating{
        gap: 5px;
    }
    .rating__icon{
        width: 15px;
        height: 15px;
    }
    
}